@import url(./reset.css);

@font-face {
	font-family: 'nasalization';
	src: url(../typefaces/nasalization-rg.otf);
}

@media screen and (max-width: 300px) {
	.mainNav > a {
		display: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
	color: white;
}

body {
	background-color: #0e1454;
}
